# <center>MDS6212 Fintech Theory and Practice: Week 3 Assignment<center>

----
    
**220041006 *Yihang Li***

**Data confidential requirements:** 
*     Do not share datasets with others
*     Do not post datasets on the Web site
*     Datasets can only be used to work on assignments of MDS6212, M.Sc. in Data Science, CUHK-Shenzhen.

**Datasets:** 
*     MDS6212 Week 3 Stock returns.xlsx
*     MDS6212 Week 3 Online sales.xlsx

In [1]:
!ls

'MDS6212 Week 3 Assignment.docx'    'MDS6212 Week 3 Stock returns.xlsx'
'MDS6212 Week 3 Online sales.xlsx'   MDS6212Assignment3.ipynb

In [1]:
import numpy as np
import pandas as pd

## Q1

1) Using the data set of stock returns, sort stocks into quintiles by size every quarter, hold stocks over the quarter, and calculate monthly portfolio returns

In [2]:
Stock_returns = pd.read_excel('MDS6212 Week 3 Stock returns.xlsx', sheet_name='data')

In [4]:
Stock_returns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87432 entries, 0 to 87431
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   stkcd       87432 non-null  int64
 1   stknme      87432 non-null  object
 2   conme       87432 non-null  object
 3   month       87432 non-null  object
 4   retrf       87432 non-null  float64
 5   mktrf       87432 non-null  float64
 6   smb         87432 non-null  float64
 7   hml         87432 non-null  float64
 8   umd         87432 non-null  float64
 9   size        87432 non-null  float64
 10  bm          87432 non-null  float64
 11  return12    87432 non-null  float64
 12  roa         87432 non-null  float64
 13  lev         87432 non-null  float64
 14  ppe         87432 non-null  float64
 15  intang      87432 non-null  float64
 16  numanalyst  87432 non-null  int64
 17  instown     87432 non-null  float64
 18  mv          87432 non-null  int64
dtypes: float64(13), int64(3), object(3)
memory usage: 12.7+ MB

In [5]:
Stock_returns.head()

,stkcd,stknme,conme,month,retrf,mktrf,smb,hml,umd,size,bm,return12,roa,lev,ppe,intang,numanalyst,instown,mv
0,9,中国宝安,中国宝安集团股份有限公司,2013-07,9.0756,1.8833,5.1896,-0.1922,6.1829,23.10871,0.438860,13.37412,0.007949,0.430605,0.086185,0.031575,0,6.4646,11874173952
1,9,中国宝安,中国宝安集团股份有限公司,2013-08,-5.1363,4.5833,5.9407,0.0976,-5.5041,23.10871,0.438860,13.37412,0.007949,0.430605,0.086185,0.031575,0,6.4646,11874173952
2,9,中国宝安,中国宝安集团股份有限公司,2013-09,3.5840,3.3833,0.5848,2.8554,8.8693,23.10871,0.438860,13.37412,0.007949,0.430605,0.086185,0.031575,0,6.4646,11874173952
3,9,中国宝安,中国宝安集团股份有限公司,2014-01,-1.0932,-3.6167,5.6921,1.1126,8.9357,23.28204,0.394303,46.59159,0.025973,0.432246,0.098660,0.029798,0,5.6741,11731143680
4,9,中国宝安,中国宝安集团股份有限公司,2014-02,19.0704,0.9833,3.8899,0.6902,-1.8764,23.28204,0.394303,46.59159,0.025973,0.432246,0.098660,0.029798,0,5.6741,11731143680

roa: Return on assets, defined as the **quarterly** operating income scaled by lagged assets

In [3]:
Stock_returns['month'] = pd.to_datetime(Stock_returns['month'], format='%Y-%m') #.dt.strftime('%Y-%m')

In [4]:
#groupby
Stock_returns['size'].groupby([Stock_returns['month'].dt.year, Stock_returns['month'].dt.month]).median()

month  month
2012   4        21.88522
       5        21.88522
       6        21.88522
       7        21.82841
       8        21.82841
                  ...
2019   8        22.36649
       9        22.36649
       10       22.26032
       11       22.26032
       12       22.26032
Name: size, Length: 93, dtype: float64

In [5]:
# Groupby quarterly
Groupby_quarterly = Stock_returns.groupby(Stock_returns['month'].dt.to_period('Q'))

In [7]:
# Try to get the key of 2012Q2
Group_Keys = list(Groupby_quarterly.groups)

In [21]:
#2012Q2
#Groupby_quarterly.get_group(Group_Keys[0])['size'] > Groupby_quarterly.get_group(Group_Keys[0])['size'].median()
### filter function returned a Series, but expected a scalar bool
#### Not filter, we need to groupby again!

In [13]:
#(lambda x: x['size'] > x['size'].median())

In [30]:
for key, group in Groupby_quarterly:
    print(key,': the median size is', group['size'].median())
    
    Big = group[group['size'] > group['size'].median()].reset_index()
    Small = group[group['size'] <= group['size'].median()].reset_index()
    
    Big['weight'] = Big['size']/Big['size'].sum()
    Small['weight'] = Small['size']/Small['size'].sum()
    
    Portfolio_Big = Big['weight'].dot(Big['roa'])
    Portfolio_Small = Small['weight'].dot(Small['roa'])
    
    print(Portfolio_Big, '\n', Portfolio_Small)
    break

2012Q2 : the median size is 21.88522
0.020105222234082194
 0.012522064111195845

## Q2

2) Using the data set of stock returns, sort stocks into quintiles by institutional ownership every quarter, hold stocks over the quarter, and calculate monthly portfolio returns

## Q3

3) Using the data set of stock returns, perform panel regression, and regress stock returns on firm characteristics such as size, book-to-market ratio, return12, roa, leverage, ppe, intang, number of analysts, institutional ownership, controlling for or not for firm and year-month fixed effects. Cluster standard errors by firm and year-month (double clustering)

## Q4

4) Using the data set of Online sales, aggregate monthly online sales over quarters, download reported quarterly total sales from CSMAR, and plot figures including both online sales and reported quarterly sales.