# <center>MDS6212 Fintech Theory and Practice: Week 2 Assignment<center>

----
    
**220041006 *Yihang Li***

**Data confidential requirements:** 
*     Do not share datasets with others
*     Do not post datasets on the Web site
*     Datasets can only be used to work on assignments of MDS6212, M.Sc. in Data Science, CUHK-Shenzhen.

**Datasets:** 
*     MDS6212 Week 3 Stock returns.xlsx
*     MDS6212 Week 3 Online sales.xlsx

In [1]:
!ls

'MDS6212 Week 3 Assignment.docx'    'MDS6212 Week 3 Stock returns.xlsx'
'MDS6212 Week 3 Online sales.xlsx'   MDS6212Assignment2.ipynb

In [2]:
import numpy as np
import pandas as pd

## Q1

1) Using the data set of stock returns, sort stocks into quintiles by size every quarter, hold stocks over the quarter, and calculate monthly portfolio returns

In [5]:
Stock_returns = pd.read_excel('MDS6212 Week 3 Stock returns.xlsx', sheet_name='data')

In [7]:
Stock_returns.head(2)

,stkcd,stknme,conme,month,retrf,mktrf,smb,hml,umd,size,bm,return12,roa,lev,ppe,intang,numanalyst,instown,mv
0,9,中国宝安,中国宝安集团股份有限公司,2013-07,9.0756,1.8833,5.1896,-0.1922,6.1829,23.10871,0.43886,13.37412,0.007949,0.430605,0.086185,0.031575,0,6.4646,11874173952
1,9,中国宝安,中国宝安集团股份有限公司,2013-08,-5.1363,4.5833,5.9407,0.0976,-5.5041,23.10871,0.43886,13.37412,0.007949,0.430605,0.086185,0.031575,0,6.4646,11874173952

## Q2

2) Using the data set of stock returns, sort stocks into quintiles by institutional ownership every quarter, hold stocks over the quarter, and calculate monthly portfolio returns

## Q3

3) Using the data set of stock returns, perform panel regression, and regress stock returns on firm characteristics such as size, book-to-market ratio, return12, roa, leverage, ppe, intang, number of analysts, institutional ownership, controlling for or not for firm and year-month fixed effects. Cluster standard errors by firm and year-month (double clustering)

## Q4

4) Using the data set of Online sales, aggregate monthly online sales over quarters, download reported quarterly total sales from CSMAR, and plot figures including both online sales and reported quarterly sales.